.site-header {
  background-color: $c-dark;
}

.site-header__container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-from($break-menu) {
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    text-align: center;
    color: $c-white;

    @include media-from($break-menu) {
      & + a {
        margin-left: 10px;
      }
    }
  }

  .site-nav a {
    display: block;
    padding: 10px 0;

    @include media-from($break-menu) {
      display: inline;
    }
  }
}

.site-logo {
  max-height: 100px;
}