---
title: Report Missing Documentation
---

Is there any missing documentation that needs adding, or something that's not making sense? Feel free to submit a request! All help is appreciated. 

<form class="form" name="report-docs" method="POST" data-netlify="true">
  <label for="email">Email:</label>
  <input name="email" type="email" placeholder="email" />
  <label>Please let us know what's missing:</label>
  <textarea name="message" placeholder="Add message here"></textarea>
  <button type="submit">Submit Request</button>
</form>