---
title: Single Page App Framework
---

<p>Welcome to the SPA Framework documentation site! This is where I'll be adding help guides for the various aspects of the SPA Framework (view on <%= link_to "GitHub", "https://github.com/benrgreene/Single-Page-Framework/" %>).</p>

<p>Feel free to check out the links in the sidebar to take the deep dive, or you could start at the beginning: <a href="https://docs.benrgreene.com/article/setup/installation/">installing the framework</a>.</p>

<p>Also, one last note. I'm still working on compiling all the documentation, so if some of the site seems sparse, don't worry. It'll be up soon.</p>

<p style="display: none">If there is missing documentation, or if something isn't clear, feel free to open a new issue in the GitHub repository.</p>