---
title: Home
---

<p>Welcome to the SPA Framework documentation site! This is where I'll be adding help guides for the various aspects of the SPA Framework (view on <%= link_to "GitHub", "https://github.com/benrgreene/Single-Page-Framework/" %>).</p>

<p>Feel free to check out the links in the sidebar to take the deep dive, or you could start at the beginning: <%= link_to "Getting Started", "/" %></p>